html, body {
    margin: 0px;
    height: 100%;
    color: rgb(187, 159, 0);
}

body {
    display: flex;
    flex-direction: column;
    background-color: #424d6e;
}

.header {
    padding-left: 2rem;
    background-color: #212638;
}

main {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.icon {
    padding: 4px;
    border-radius: 4px;
    width: max-content;
}

.unit {
    background-color: rgb(130 79 52);
}

.research {
    background-color: rgb(50 128 107);
}

.resource {
    background-color: #374157;
}

.left-side {
    padding: 1rem;
    background-color: #2f3a5e;
    text-align: center;
    box-shadow: 6px 0px 4px #1f273f;
    display: flex;
    flex-direction: column;
}

.left-side .about {
    border-bottom: 2px solid rgb(187, 159, 0);
    
}

.right-side {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    height: 85%;
    width: min(60%, 700px);
    background-color: #8a8988;
    border-radius: 4px;
    box-shadow: 0px 8px 4px #373738;
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.calculator > div {
    padding: 1rem;
}

.calculator-display {
    background-color: #212638;
    width: 100%;
    height: 100%;
}

.calculator-buttons {
    display: grid;
    grid-template-areas: "wood food gold stone"
                         "7 8 9 clear"
                         "4 5 6 multiply"
                         "1 2 3 add"
                         "0 equals equals subtract";
}

button {
    background-color: red;
    margin: 4px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 4vw;
    line-height: 0;
}

button#wood {
    grid-area: wood;
    background-image: url('images/resource-icons/wood.png');
}

button#food {
    grid-area: food;
    background-image: url('images/resource-icons/food.png');
}

button#gold {
    grid-area: 'gold';
    background-image: url('images/resource-icons/gold.png');
}

button#stone {
    grid-area: stone;
    background-image: url('images/resource-icons/stone.png');
}

button#1 {
    grid-area: 1;
}

button#2 {
    grid-area: 2;
}

button#3 {
    grid-area: 3;
}

button#4 {
    grid-area: 4;
}

button#5 {
    grid-area: 5;
}

button#6 {
    grid-area: 6;
}

button#7 {
    grid-area: 7;
}

button#8 {
    grid-area: 8;
}

button#9 {
    grid-area: 9;
}

button#0 {
    grid-area: 0;
}

button#clear {
    grid-area: clear;
}

button#multiply {
    grid-area: multiply;
}

button#add {
    grid-area: add;
}

button#subtract {
    grid-area: subtract;
}

button#equals {
    grid-area: equals;
}